<!DOCTYPE html>
<html>
<head>
<title>Map</title>
<style>
/* Set the size of the map */
#map {
  height: 600px;
  width: 80%;
}
</style>
</head>
<body>
<h3>Customer Location</h3>
<center><div id="map"></div></center>


<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBRaJ0a97IIUUJLv00Cqbaxcg9ndlLQvyE"></script>

<script>
  // Make an AJAX request to the API endpoint to get the customer locations
  var xhr = new XMLHttpRequest();
  xhr.open('GET', '/api/customers2', true);
  xhr.onload = function() {
    // Parse the JSON response and extract the customer locations
    var customers = JSON.parse(xhr.responseText);
    
    // Initialize and display the map
    initMap(customers);
  };
  xhr.send();

  // Initialize and display the map using the customer locations
  function initMap(customers) {
    // Set the coordinates of the customer location
    var customerLoc = { lat: 13.286123168758246, lng: 100.92591672517473 };
    
    // Create a new map centered at the customer location
    var map = new google.maps.Map(document.getElementById("map"), {
      center: customerLoc,
      zoom: 14,
    });
    
    // Loop through the customers array and add a marker for each customer
    for (let i = 0; i < customers.length; i++) {
      const customer = customers[i];
      const latLng = new google.maps.LatLng(customer.lat, customer.lng);
      const marker = new google.maps.Marker({
        position: latLng,
        map: map,
      });
      
      // Add a click event listener to the marker
      marker.addListener("click", function () {
        // Show the customer name in an info window
        const infowindow = new google.maps.InfoWindow({
          content: `<h3>${customer.name}</h3><p>${customer.address}</p><button onclick="acceptJob(${customer.id})">Accept Job</button>`,
        });
        infowindow.open(map, marker);
      });
      
      function acceptJob(customerId) {
        // Send a POST request to your API endpoint to accept the job with the given customer ID
        fetch('/api/accept_job', {
            method: 'POST',
            body: JSON.stringify({ customer_id: customerId }),
            headers: {
            'Content-Type': 'application/json'
            }
        })
        .then(response => {
            if (response.ok) {
            // Update the info window to show that the job has been accepted
            infowindow.setContent(`<h3>${customer.name}</h3><p>${customer.address}</p><p>Job accepted!</p>`);
            } else {
            // Handle the error response
            console.log('Error accepting job:', response.statusText);
            }
        })
        .catch(error => {
            // Handle the network error
            console.log('Network error:', error);
        });
      }
    }
  }
</script>
</body>
</html>