<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Take Care for U</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="static/img/favicon.png" rel="icon">
    <link href="static/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">


    <!-- Vendor CSS Files -->
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/aos/aos.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap-icons/bootstrap-icons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/boxicons/css/boxicons.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/glightbox/css/glightbox.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/remixicon/remixicon.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/swiper/swiper-bundle.min.css') }}">

    <!-- Template Main CSS File -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style-popup.css') }}">

    <!-- =======================================================
  * Template Name: Bootslander - v4.9.0
  * Template URL: https://bootstrapmade.com/bootslander-free-bootstrap-landing-page-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body class="loggedin">


    <!-- ======= Hero Section ======= -->
    <div class="card">
        <div class="card-top border-bottom text-center">
            <span id="logo">Take Care for U</span>
        </div>
        <div class="card-body">
            <div class="row upper"><center>
                <div><span><i class="fa fa-check-circle-o"></i> กรอกข้อมูลผู้ใช้</span></div>
                <div><span><i class="fa fa-check-circle-o"></i> เลือกสถานที่และบริการ</span></div>
                <div><span id="payment"><span id="three">3</span>Payment</span></div></center>
            </div>
            <div class="row">
                <div class="col-md-7">
                    <div class="left border">
                        <div class="row">
                            <span class="header">Payment</span>
                            <div class="icons">
                                <img src="https://img.icons8.com/color/48/000000/visa.png" />
                                <img src="https://img.icons8.com/color/48/000000/mastercard-logo.png" />
                                <img src="https://img.icons8.com/color/48/000000/maestro.png" />
                            </div>
                        </div>
                        <form action="{{url_for('payment')}}" method="POST">
                            <span>Cardholder's name:</span>
                            <input placeholder="Jadeniphit Ratiphongphan" type="text" name="Cardholder" id="Cardholder" class="input-text">
                            <span>Card Number:</span>
                            <input placeholder="0125 6780 4567 9909" type="text" name="Cardnumber" id="Cardnumber" class="input-text">
                            <div class="row">
                                <div class="col-4"><span>Expiry date:</span>
                                    <input placeholder="YY/MM" type="text" name="exdate" id="exdate" class="input-text">
                                </div>
                                <div class="col-4"><span>CVV:</span>
                                    <input type="text" name="cvv" id="cvv" class="input-text" placeholder="112">
                                </div>
                            </div>
                            <div class="input-group">
                                <label class="label">ยืนยันค่าใช้จ่ายเสริม</label>
                                <input class="input--style-4" type="text" name="total1" id="total1" class="input-text">
                            </div>
                            <a href="{{ url_for('User_Waiting_Room') }}" class="btn" onclick="alerts()">Place order</a>
                            <p class="text-muted text-center">ขอบพระคุณที่ใช้บริการ</p>
                        </form>
                    </div>
                </div>

                <div class="col-md-5">
                    <div class="right border" onload="calculateAmount(val)">
                    <div class="row lower">
                        <form name="frm-pin" method="post" action="">
                            <input type="hidden" name="mode" value="PinRequest" />
                            <label class="w3-text-green"><b>รูปแบบการให้บริการ : </b></label>
                            <select name="tot_pin_requested" onchange="calculateAmount(this.value)" required>
                                <option value="0" disabled selected>ยืนยันรูปแบบบริการ</option>
                                <option value="120">รับส่ง</option>
                                <option value="150">รอ 1 ชม.</option>
                                <option value="300">รอ 2 ชม.</option>
                                <option value="450">รอ 3 ชม.</option>
                                <option value="600">รอ 4 ชม.</option>
                                <option value="750">รอ 5 ชม.</option>
                                <option value="1000">รอมากกว่า 6 ชม.</option>
                            </select>
                            <form name="frm-pin" method="post" action="">
                                <input type="hidden" name="mode" value="PinRequest" />
                                <label class="w3-text-green"><b>อุปกรณ์ช่วยเหลือเสริม : </b></label>
                                <select name="tot_pin_requested" onchange="calculateAmount2(this.value)" required>
                                    <option value="0" disabled selected>ยืนยันอุปกรณ์เสริม</option>
                                    <option value="0">ไม่รับอุปกรณ์</option>
                                    <option value="120">รถเข็น</option>
                                    <option value="100">ไม้เท้า</option>
                                </select>
                                {% for data1 in service_userinfo %}
                                <b><label>ระยะทาง : </label></b>
                                <label id="vd" name="vd" value="">{{data1.valuedistance}} KM</label>
                                {% endfor %}
                                <br>
                                <label><b>Total Amount</b></label>
                                <input class="w3-input w3-border" name="tot_amount" id="tot_amount" type="text"
                                    readonly value="0">
                                <input class="w3-input w3-border" name="tot_amount2" id="tot_amount2" type="text"
                                    readonly value="0">
                                
                                <input class="w3-input w3-border" name="total" id="total" type="text">
                                <!--<div class="input-group">
                                    <label class="label">ยืนยันค่าใช้จ่ายเสริม</label>
                                    <input class="input--style-4" type="text" name="total1" id="total1" class="input-text">
                                </div>-->
                                <script>
                                    function calculateAmount(val) {
                                        var tot_price1 = val;
                                        var divobj = document.getElementById('tot_amount');
                                        divobj.value = tot_price1;
                                        result();
                                        return tot_price1;
                                    }
                                    function calculateAmount2(val) {
                                        var tot_price = val;
                                        var divobj = document.getElementById('tot_amount2');
                                        divobj.value = tot_price;
                                        result();
                                        return tot_price;
                                    }
                                    function calculateAmount3() {
                                        var tot_price2 = data1 * 30;
                                        var divobj = document.getElementById('tot_amount3');
                                        divobj.value = tot_price2;
                                        result();
                                        return tot_price2;
                                    }
                                    function result() {
                                        price1 = document.getElementById('tot_amount');
                                        price2 = document.getElementById('tot_amount2');
                                        var result = parseInt(price1.value) + parseInt(price2.value);
                                        total = document.getElementById("total");
                                        total.value = result;
                                        return result;
                                    }
                                    function updateTotal() {
                                        var vd = parseFloat(document.getElementById("vd").innerHTML);
                                        var distanceCost = vd * 30;
                                    
                                        var tot_amount = parseFloat(document.getElementById("tot_amount").value);
                                        var tot_amount2 = parseFloat(document.getElementById("tot_amount2").value);
                                    
                                        var total = distanceCost + tot_amount + tot_amount2;
                                        document.getElementById("total").value = total;
                                    
                                        // อัปเดตค่าของ total1 ด้วยค่าของ total
                                        document.getElementById("total1").value = total;
                                      }
                                    
                                      document.getElementsByName("tot_pin_requested")[0].addEventListener("change", updateTotal);
                                      document.getElementsByName("tot_pin_requested")[1].addEventListener("change", updateTotal);
                                    

                                </script>
                                <p id="demo"></p>
                                <script>
                                    var x = tot_price1;
                                    var y = tot_price;
                                    var z = x + y;
                                    document.getElementById("demo").innerHTML = z;
                                </script>

                                <script>
                                    function alerts() {
                                      alert("ระบบได้ส่งข้อมูลให้คนขับที่อยู่ใกล้แล้ว\nกรุณารอคนขับสักครู่ ขอบคุณค่ะ");
                                    }
                                </script>

                                
                            </form>
                        </form>
                    </div>
                </div>


            </div>
        </div>


        <div>
        </div>
    </div>


    </section><!-- End Hero -->



    <!-- Vendor JS Files -->
    <script src="static/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="static/vendor/aos/aos.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="static/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="static/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="static/vendor/php-email-form/validate.js"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>

    <!-- Template Main JS File -->
    <script src="static/js/main.js"></script>

</body>

</html>